<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />
    <title>CODE HERE</title>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="stylesheet" href="{% static 'font/material-design-icons/Material-Design-Icons.eot' %}" />
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>

          #staggered-test{
	        opacity: 0;
            }
          ul{
            list-style-type: none;
            }
          .collapsible-header.active{
            background-color:#26a69a;
            }
          .collapsible-header.active.tohide{
            display:none;
            }
          .sticky{
              position:relative;
              top:0;
            }
      </style>
</head>
<body>

<div class="navbar-fixed">
<nav class="green z-depth-2" role="navigation">
    <div class="nav-wrapper">
			<div class="container">
	            <a href="#" class="brand-logo brand-logo-small"> <img id="header-logo" alt="Hackers Hub Logo" align="top" src="{% static 'img/logo.png' %}"/>
                <span>Hackers Hub</span></a>
			</div>
      <ul class="right hide-on-med-and-down">
		<li>
			<a href="/view_all_posts/{{ id }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="News Feed">
				<img align="middle" src="{% static 'img/newspaper.png' %}" alt="newsfeed"/>
			</a>
		</li><!--newsfeed-->
		<li >
			<a href="/profile/{{ id }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Profile">
				<img align="middle" src="{% static 'img/account-circle.png' %}" alt="account"/>
			</a>
		</li><!--account-->
		<li class="active">
			<a href="/code/{{ id }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Practice">
				<img align="middle" src="{% static 'img/fitness-center.png' %}" alt="practice"/>
			</a>
		</li> <!--(practice)  fitness center-->
		<li>
			<a href="/find_all_friends/{{ id }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Find Friends">
				<img align="middle" src="{% static 'img/add.png' %}" alt="find friends"/>
			</a>
		</li>  <!--group-->
		<li>
			<a href="/notifications/{{ id }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Notifications">
				<img align="middle" src="{% static 'img/notifications.png' %}" alt="notification"/>

			</a>
		</li> <!--notifications  notifications off-->
		<li>
			<a href="/chat/{{ id }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Chat">
				<img align="middle" src="{% static 'img/forum.png' %}" alt="chat"/>

			</a>
		</li>
		<li>
			<a href="/logout/{{ id }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout">
			<img align="middle" src="{% static 'img/logout.png' %}" alt="logout"/>
			</a>
		</li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
		<li>
			<a href="/view_all_posts/{{ user.id }}" class="waves-effect waves-light">News Feed
				<!--img align="middle" src="newspaper.png" alt="newsfeed"/-->
			</a>
		</li>
        <li>
			<a href="/profile/{{ id }}" class="waves-effect waves-light">Profile
				<!--img align="middle" src="account-circle.png" alt="account"/-->
			</a>
		</li><!--account-->
		<li class="active">
			<a href="/code/{{ id }}" class="waves-effect waves-light">Practice
				<!--img align="middle" src="fitness-center.png" alt="practice"/-->
			</a>
		</li> <!--(practice)  fitness center-->
		<li>
			<a href="/find_all_friends/{{ id }}" class="waves-effect waves-light">Find Friends
				<!--img align="middle" src="add.png" alt="find friends"/-->
			</a>
		</li>  <!--group-->
		<li>
			<a href="/notifications/{{ id }}" class="waves-effect waves-light">Notifications
				<!--img align="middle" src="notifications.png" alt="notification"/-->

			</a>
		</li> <!--notifications  notifications off-->
		<li>
			<a href="/chat/{{ id }}" class="waves-effect waves-light">Chat
				<!--img align="middle" src="forum.png" alt="chat"/-->

			</a>
		</li>
		<li>
			<a href="/logout/{{ id }}" class="waves-effect waves-light">Logout
			<!--img align="middle" src="logout.png" alt="logout"/-->
			</a>
		</li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 </div>
<div class="row">

<div class="col s12 l9 main-content">

      <div class="container">
    <div class="section">
         <form method="post" action="/compile/{{ id }}"> {% csrf_token %}
           <div class="col s6 m6 l6">

                <label>PROGRAMMING LANGUAGE</label>
                <select class="browser-default" name="language" id="code-select">
                    {% if data %}
                       <option value="{{ data.option }}">{{ data.option }}</option>
                    {% else %}
                        <option value="" disabled selected>Choose your programming language</option>
                    {% endif %}
                    <option value="C">C</option>
                    <option value="PYTHON">PYTHON</option>
                    <option value="JAVA">JAVA</option>
                    <option value="C#">C#</option>
                    <option value="CPP">C++</option>
                    <option value="JAVASCRIPT">JavaScript</option>
                    <option value="CLOJURE">Clojure</option>
                    <option value="HASKELL">Haskell</option>
                    <option value="PERL">PERL</option>
                    <option value="PHP">PHP</option>
                    <option value="RUBY">RUBY</option>
                    <option value="CPP11">C++11</option>
                </select>

           </div>
           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">mode_edit</i>
                    {% if data %}
                        <textarea id="code" name="code" style=" max-height: 500px; max-width: 700px; height: 500px;" >{{ data.source_code }}</textarea>
                  {% else %}
                        <textarea id="code" name="code" style=" max-height: 500px; max-width: 700px; height: 500px;" required="required" aria-required="true"></textarea>
                  {% endif %}
               <label for="textarea1">Code here</label>
             </div>
           </div>

             <button class="btn waves-effect waves-light" type="submit" name="action">Compile and Run
                 <i class="material-icons right">send</i>
             </button>
			 <a class="btn waves-effect waves-light" href="/challenges-hackerearth/{{ id }}">View All Challenges</a>

         </form>

          {% if result %}
               <h2>Output:</h2>
              {% if result.stderr != None %}
                   <p style="color: green;">{{ result.output }}</p>
                   <p style="color: red;">{{ result.stderr }}</p>
              {% endif %}
              {% if result.status_detail != None %}
                   {% if result.status == "CE" %}
                       <p style="color: red;">Compilation Error</p>
                       <p style="color: red;">{{ result.status_detail }}</p>
                   {% else %}
                        <p style="color: green;">Compilation Successful</p>
                   {% endif %}
              {% endif %}
         {% endif %}

        </div>
          </div>
    </div>

   <!--side chat bar-->
  <div class="col l3 hide-on-med-and-down">
	<div id="sidebar" class="sticky">
	<ul class="collapsible collection" data-collapsible="expandable">
	 <li class="collection-item avatar">
			<div class="collapsible-header">
				<img src="{% static 'img/p2.jpg' %}" alt="" class="circle">
				<span class="title">User name</span>
				<a class="secondary-content"><i class="material-icons">grade</i></a>
			</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.sjadbsajkdbjkasbdfj</p></div>
    </li>
    <li class="collection-item avatar">
			<div class="collapsible-header">
				<i class="material-icons circle">person</i>
				<span class="title">User 2</span>
				<a class="secondary-content"><i class="material-icons">grade</i></a>
			</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.sjadbsajkdbjkasbdfj</p></div>
    </li>
    <li class="collection-item avatar">
			<div class="collapsible-header">
				<i class="material-icons circle green">face</i>
				<span class="title">Known User</span>
				<a class="secondary-content"><i class="material-icons">grade</i></a>
	  		</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.sjadbsajkdbjkasbdfj</p></div>
    </li>
    <li class="collection-item avatar">
			<div class="collapsible-header">
				<i class="material-icons circle red">person</i>
				<span class="title">User 44</span>
				<a class="secondary-content"><i class="material-icons">grade</i></a>
			</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.sjadbsajkdbjkasbdfj</p></div>
    </li>
	<li class="collection-item avatar">
			<div class="collapsible-header">
				<i class="material-icons circle yellow">person</i>
				<span class="title">User 44</span>
				<a class="secondary-content"><i class="material-icons">grade</i></a>
			</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.sjadbsajkdbjkasbdfj</p></div>
    </li>
	<li class="collection-item avatar">
			<div class="collapsible-header">
				<i class="material-icons circle blue">face</i>
				<span class="title">User 44</span>
				<a class="secondary-content"><i class="material-icons">grade</i></a>
			</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.sjadbsajkdbjkasbdfj</p></div>
    </li>
		<li class="collection-item avatar">
			<div class="collapsible-header">
				<i class="material-icons circle green">face</i>
				<span class="title">User 44</span>
				<a class="secondary-content"><i class="material-icons">grade</i></a>
			</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.sjadbsajkdbjkasbdfj</p></div>
    </li>
	</ul>
	</div>
  </div>


</div>
         <!--Import jQuery before materialize.js-->
         <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" />
         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
 <script>
  var stickySidebar = $('.sticky');

if (stickySidebar.length > 0) {
  var stickyHeight = stickySidebar.height(),
      sidebarTop = stickySidebar.offset().top;
}

// on scroll move the sidebar
$(window).scroll(function () {
  if (stickySidebar.length > 0) {
    var scrollTop = $(window).scrollTop();

    if (sidebarTop < scrollTop) {
      stickySidebar.css('top', scrollTop - sidebarTop);

      // stop the sticky sidebar at the footer to avoid overlapping
      var sidebarBottom = stickySidebar.offset().top + stickyHeight,
          stickyStop = $('.main-content').offset().top + $('.main-content').height();
      if (stickyStop < sidebarBottom) {
        var stopPosition = $('.main-content').height() - stickyHeight;
        stickySidebar.css('top', stopPosition);
      }
    }
    else {
      stickySidebar.css('top', '0');
    }
  }
});

$(window).resize(function () {
  if (stickySidebar.length > 0) {
    stickyHeight = stickySidebar.height();
  }
});
  </script>

</body>
</html>